:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* # General
  =================================================*/

body {
  word-wrap: break-word;
}

img,
svg {
  vertical-align: middle;
}

input {
  width: 100%;
}

input,
textarea,
textarea:focus,
input:focus,
button {
  border: none;
  outline: none;
}

button {
  background: unset;
}

button,
[role=button],
[class*='btn'] {
  cursor: pointer;
}

figure {
  max-width: 100%;
}

p {
  line-height: 2.0;
}



/* # Common Class
  =================================================*/



/* Flex ___________ Starts */
:is([class*="flex"], .th-timeline) {
  display: flex;
  align-items: center;
}

/* [class*="gap"] {
  gap: 20px;
} */

[class*="center"] {
  justify-content: center;
}

[class*="v-center"] {
  align-items: center;
}

[class*="wrap"]:not(.slider-wrap, .award-wrap) {
  flex-wrap: wrap;
}

[class*="between"] {
  justify-content: space-between;
}


/* grid ___________ Starts */

:is(.page-header, .blog-header, .page-header>div, .blog-header>div>div, [class*="grid"]) {
  display: grid;
  align-items: center;
}

[class*="grid"] {
  gap: 20px;

}


.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-30 {
  grid-template-columns: 30% auto;
}

.grid-reverse-30 {
  grid-template-columns: auto 30%;
}


/* all-page property for all page ___ start */

.all-page {
  padding: clamp(1.875rem, 0.3125rem + 4.1667vw, 4.0625rem) 0;
}


:is(header, footer, .all-page, .social-links, .mg-con-hero) ul {
  list-style-type: none;
}

.all-page :is(ul, ol):not([class*='social-links'] ul, .toc-body>ul) {
  padding-left: 1.5rem;
}

.all-page :is(ul, ol, p, .wp-block-image):not([class*='social-links'] ul) {
  margin-bottom: 20px;
}

.all-page :is(ul, ol):not([class*='social-links'] ul) li {
  line-height: 1.8;
  position: relative;
}

.all-page :is(ul, ol):not([class*='social-links'] ul, [class*='grid']) li {
  margin-bottom: 15px;
}

.all-page ul li:not(.mg-toc-wrap ul li, [class*='social-links'] ul li)::before {
  position: absolute;
  left: -25px;
  top: 7px;
  content: '';
  width: 16px;
  height: 16px;
  background-size: cover;
}

.all-page :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
  margin-bottom: 15px !important;
}

/* all blocks remove margin-bottom from last child */

:is(.task-box, .box-content, .why-choose-r, .mg-card-content, .page-status-content, .mg-pros-cons-body, blockquote, [class*='block-content'], .toc-body, ul, ol)>*:last-child {
  margin-bottom: 0 !important;
}

:is(blockquote, [class*='mg-block']) {
  margin-bottom: 30px;
}

.all-page,
.number-remove {
  counter-reset: term definition;
}

.all-page .number>*:not(a)::before {
  counter-increment: term;
  content: counter(term) ". ";
}


/* row & container  __________ start */

.page-header,
.blog-header,
#breadcrumbs {
  margin-bottom: 40px;
}

:is(.page-header> .container, .blog-header> .container > div)>* {
  margin-bottom: 0 !important;
}

:is(.page-header, .blog-header, .page-header>div) {
  gap: 10px;
}

.blog-header>div>div {
  gap: 20px;
}

.page-header {
  text-align: center;
}

.page-header,
.blog-header {
  padding: 30px 0;
}

.th_homepage .all-page,
.all-page:has(.page-header, .blog-header) {
  padding-top: 0;
}

.page-content #load-btn {
  margin: 50px auto 0 auto;
}

[class*="mg-con"]:not(:last-child) {
  margin-bottom: 60px;
}

[class*="con-bg"] {
  padding: 60px 0;
}

.row-gap {
  row-gap: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

hr {
  opacity: .3;
}

/* all animations */

@keyframes scaleUp {

  0%,
  100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-5px) scale(1.05);
  }

}


@keyframes moveUp {

  0%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(-8px);
  }

}


/* # Common Components
  =================================================*/

/* Breadcrumbs ___________Starts */
#breadcrumbs span span:not(:last-child):after {
  content: '';
  width: 6px;
  height: 10px;
  margin: 0 15px;
}


/* Site Cards _____________Starts */
[class*='card'] {
  display: flex;
  flex-direction: column;
  position: relative;
}



.mg-card-content {
  gap: 10px;
}

.blog-title {
  display: block;
}

.cat-btn {
  width: fit-content;
  padding: 5px 10px;
}

:is(.mg-card, .mg-flip-card, .mg-auth-card) .mg-timeline {
  margin-top: auto;
  justify-content: space-between;
}

:is(.mg-card, .mg-auth-card) {
  gap: 20px;
}

.mg-timeline {
  gap: 5px;
}

.mg-timeline:has(.author-img) {
  gap: 10px;
}

.mg-timeline .author-img,
.mg-timeline .author-img img {
  width: 30px;
  height: 30px;
}



/* Section-title _____________Start*/
.sec-title {
  margin-bottom: 40px !important;
  text-align: center;
}

.sec-title p {
  color: rgb(75 68 68 / 90%);
}

.sec-w {
  width: 70%;
  margin: 0 auto;
}


/* btn  _____________Start*/
[class*="mg-btn"] {
  padding: 9px 30px;
  font-weight: var(--fw-3);
  border-radius: var(--rad-2);
  line-height: 1.2;
  width: fit-content;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

}

[class*="mg-btn"]:hover {
  transform: scaleX(1.02);
  transition: transform 0.5s cubic-bezier(0.34, 5.56, 0.64, 1);
}


[class*="mg-btn"]:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}



.flex-wrap:has([class*="mg-btn"]) {
  gap: 20px;
}

.mg-btn-bg,
.mg-btn-bd:hover {
  color: var(--white);
  background: var(--pc);
  border: 1px solid var(--pc);
  transition: all 0.3s ease-in-out;
}

.mg-btn-bd,
.mg-btn-bg:hover {
  color: var(--pc);
  border: 1px solid var(--pc);
  transition: all 0.3s ease-in-out;
}

.mg-btn-bg svg path {
  stroke: var(--white);
}

.mg-btn-bg:hover {
  background: var(--white);
  transition: all 0.3s ease-in-out;
}

.mg-btn-bg:hover svg path {
  stroke: var(--pc) !important;
}

.mg-btn-txt {
  padding: 0 !important;
  color: var(--black) !important;
}



/* Social Links _____________Start*/
[class*='social-links'] ul,
[class*='social-links'] {
  flex-wrap: wrap;
  gap: 10px;
}

[class*='social-links'],
[class*='social-links'] ul,
[class*='social-links'] ul li a {
  display: flex;
  align-items: center;
}


.mg-social-links ul li a {
  width: 25px;
  height: 25px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}





/* # Header [mobile size]
  =================================================*/
  header {
    position: relative;
  }
  
  .sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .gd-logo  img{
    width: 75%;
  }
  
  .top-bar {
    display: none;
  }
  
  .top-bar,
  .navigation {
    padding: 8px 0;
  }
  
  .top-gap{
    gap: 10px !important;
  }
  
  .navigation>.container {
    position: relative;
    user-select: none;
  }
  
  :is(header, footer) ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  :is(header, footer) ul li a {
    text-transform: capitalize;
  }
  
  .gd-menu ul {
    gap: 30px;
  }
  
  header .container,
  .gd-menu-search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  
  /* search form _____ start */
  .gd-menu-search-form {
    padding: 8px 15px;
    width: 26%;
  }
  
  /* dropdown ______ start */
  .dropdown {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .dropdown::after,
  .dropdown .dropdown::after {
    display: flex;
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .dropdown ul {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 35px;
    padding: 10px;
    z-index: 99;
    transform-origin: top;
    transform: scale(0);
    min-width: 100%;
  }
  
  .dropdown ul li {
    padding: 10px 15px;
  }

/* # Home Page
=================================================*/


/* blog Page_______________________ */
.mg-con-manage-task .sec-title,
.blog .sec-title {
  text-align: left;
}


/* # Single Page
=================================================*/

/* Blog header _____________start */
.th_single_archive_page .mg-con {
  position: relative;
}

.sidebar-box {
  position: absolute;
  top: -4.5%;
}

.blog-detail {
  gap: 10px 20px !important;
}

/* Blog sidebar_____________start */
.sidebar {
  /* position: sticky;
  top: 100px; */

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 20px;
}


/* Co - author */
.mg-co-auth {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.co-img {
  width: 60px;
  height: 60px;
  position: relative;
}

.co-img::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 27px;
  right: -8px;
  bottom: -5px;
}

.co-auth-content>* {
  display: block;
}

/* table of contents */

.toc-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.toc-header.head-border {
  padding-bottom: 10px;
}

.toc-body {
  opacity: 1;
  visibility: visible;
  height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.toc-body::-webkit-scrollbar {
  width: 2px;
}

.mg-toc-wrap .toc-body.hidden {
  opacity: 0;
  height: 0;
  padding: 0px;
  margin: 0;
  visibility: hidden;
}

.toc-body .active>a {
  text-decoration: underline;
}


.toc-body .drop-down {
  position: relative;
}

.toc-body .drop-down::after {
  content: '';
  position: absolute;
  top: 6px;
  right: 0px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.toc-body .drop-down ul {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transform: scaleY(0);
}

.toc-body .showtocdrop>ul {
  opacity: 1;
  height: auto;
  visibility: visible;
  margin-top: 15px;
  list-style-type: disc;
  margin-bottom: 0 !important;
  transform: scaleY(1);
}


.sidebar .mg-social-links {
  gap: 20px;
  padding: 20px;
}

.mg-social-links>.h6 {
  margin-bottom: 0 !important;
}

/* Blog Contents _____________start */

/* blockquote */

blockquote {
  padding: 25px;
  position: relative;
  --s: 20px;
  margin: calc(2 * var(--s)) 0 !important;
}

blockquote::before,
blockquote::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
}

blockquote::before {
  top: calc(-1 * var(--s));
  left: 40px;
}

blockquote::after {
  right: 40px;
  bottom: calc(-1 * var(--s));
  rotate: -180deg;
}

/* table */

.mg-block-table {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  height: 45px;
  text-align: left;
}

table tr td,
table tr th {
  padding: 20px 10px;
}

/* pros-cons */
.mg-block-pros-cons {
  align-items: unset !important;
}

.mg-block-pros-cons [class*='wrap'] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mg-pros-cons-head {
  padding: 10px 20px;
}

.mg-pros-cons-body {
  padding: 20px;
  height: 100%;
}



/* Accordians faq */
.mg-block-faq details:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.mg-block-faq summary {
  display: flex;
  cursor: pointer;
  position: relative;
  gap: 10px;
  font-family: var(--heading-font);
  font-size: var(--fs-2);
}

.mg-block-faq summary::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: auto;
  flex: none;
  rotate: 90deg;
}

/* .mg-block-faq details[open]>summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
} */

.mg-block-faq details[open]>summary::after {
  transform: rotate(-180deg);
}


.mg-block-faq details:not(:last-child) {
  margin-bottom: 10px;
}

.mg-block-faq summary a {
  display: contents;
}



/* Notes | Sources | Also Read | author details */
.block-heading {
  display: flex;
  align-items: center;
  gap: 9px;
  position: relative;
  padding-bottom: 20px;
}

.block-heading::before {
  content: "";
  width: 28px;
  height: 45px;
}

:is(.mg-block-note, .mg-block-source, .mg-block-also-read) .block-heading::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--bd-color);
  position: absolute;
  bottom: 15px;
}

.blog-content .mg-auth-card {
  flex-direction: row !important;
  align-items: center;
  gap: 20px;
}



/* # All Author Page || Author Single Page 
  =================================================*/

.th_author_archive_page .mg-auth-card {
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}


.mg-auth-card .author-img img {
  border: unset;
}

.author-content .h5 {
  margin-bottom: 0 !important;
}

.author-content .h5:hover {
  text-decoration: underline;
}


.all-author-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.all-author-wrap .mg-auth-card {
  background-color: transparent;
  border-radius: unset;
  transition: all 0.5s ease;
  overflow: hidden;
  text-align: center;
  padding: 30px;
}

.all-author-wrap .mg-auth-card .author-content {
  transform: translateY(15px);
  transition: all 0.5s ease;
}

.all-author-wrap .mg-auth-card p {
  margin-bottom: 0 !important;
}

.all-author-wrap .mg-auth-card .author-img img {
  transform: scale(1.2) !important;
  transition: all 0.5s ease;
}

.auth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s ease;
}



.all-author-wrap .mg-auth-card .auth-btn svg {
  transform: translateX(100px);
  transition: var(--transition);
}

.all-author-wrap .mg-auth-card:hover .auth-btn svg {
  text-decoration: underline;
  transform: translateX(0px);
  transition: var(--transition);
}

.all-author-wrap .mg-auth-card:hover .author-img img {
  transform: scale(1) !important;
  transition: all 0.5s ease;
}

.all-author-wrap .mg-auth-card:hover .author-content {
  transform: translateY(-5px);
  transition: all 0.5s ease;
}

/* # Blog || Category archive || Search result Page
  =================================================*/


/* # Contact Page 
  =================================================*/
.contact-form {
  padding: 40px 20px;
}

.contact-details {
  padding: 40px;
}

.contact-details img {
  margin-left: auto;
  margin-bottom: 40px;
}

.conact-heading {
  text-align: center;
}

.conact-heading .h4 {
  margin-bottom: 5px !important;
}

.mail strong {
  display: block;
  margin-bottom: 5px;

}

.contact-form form {
  padding: 40px;
  row-gap: 20px;
}

.contact-form .input-group :is(input, textarea) {
  display: block;
  width: 100%;
  padding: 10px 15px;
}

.contact-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* # Thank You || Search Not Found  || 404 Page
  =================================================*/
.page-status-title span {
  display: block;
  text-transform: uppercase;
}

:is(.th_404_error_page, .th_thankyou_page) .page-status-title span:first-child {
  margin-bottom: 0px !important;
}

.th_thankyou_page .page-status-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.th_thankyou_page .page-status-content img {
  margin-bottom: 20px;
}



/* # Footer
  =================================================*/
footer .container {
  padding-top: 60px;
  padding-bottom: 20px;
}

footer .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer ul li:not([class*='social-links'] ul li) {
  margin-top: 15px;
}

footer .container .row-gap {
  row-gap: 20px !important;
}

.copyright {
  text-align: center;
  padding: 10px 0;
}

.mail {
  gap: 15px
}

.mail-content {
  display: flex;
  flex-direction: column;
}

footer .mg-social-links {
  flex-direction: column;
  align-items: unset;
}


/* # Scroll top button
  =================================================*/
#scroll_to_top {
  position: fixed;
  bottom: 48px;
  height: 45px;
  width: 45px;
  right: 21px;
  z-index: 12;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
}

/* # Responsive Code
  =================================================*/

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

}

@media (min-width: 768px) {

  .container {
    max-width: 720px;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .all-author-wrap .mg-auth-card {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width:1400px) {

  .container {
    max-width: 1320px
  }
}

@media(max-width:768px) {
  .dasboard {
    left: 30px !important;
    bottom: -100px !important;
  }

  .scroll-cont {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
  }

  .hr-process .tab.scroll-cont .col {
    width: 30%;
  }

  .award-wrap .col {
    width: 25%;
    padding: 0;
  }

  [class*="col"]:has(.work-box) .icon::after,
  .clients .sec-title::after {
    display: none;
  }

  /* single page  */
  .mg-co-auth {
    display: none !important;
  }

  .toc-header.h6 {
    margin-bottom: 0 !important;
  }

  .toc-body {
    height: 350px;
  }

  .co-auth-content>* {
    display: unset;
  }

  .sidebar-box {
    position: unset;
  }

  .sidebar-box .mg-social-links {
    display: none;
  }

  [class*='col']:has(.sidebar-box) {
    order: 1;
  }

  [class*='col']:has(.blog-content) {
    order: 2;
  }

  .why-choose .row-gap {
    row-gap: 60px;
  }

  
  /* header ____________________________start */
  .gd-logo {
    text-align: center;
   }
   .gd-logo img {
     width: 60%;
   }
 
   /* Single Page  _________________________start */


}

@media(max-width:600px) {
  .dasboard {
    width: 300px;
    left: 0px !important;
    bottom: -100px !important;
  }

  .why-choose-l .box:not(:first-child) {
    content: '';
    padding-left: 25px;
    margin-left: 25px;
  }

  /* # General
  =================================================*/
  [class*="grid"] {
    grid-template-columns: auto;
  }


  .sec-w {
    width: 100%;
  }

  [class*="mg-btn"] {
    padding: 9px 20px;
  }

  .header-button {
    display: none !important;
  }

  .flex-wrap:has([class*="mg-btn"]) {
    gap: 10px;
  }

  .hr-process .tab.scroll-cont .col,
  .clients .col,
  .award-wrap .col {
    width: 50% !important;
  }

  [class*="col"]:has(.task-box):nth-child(even) {
    margin: 0 !important;
  }

  .hr-tasks .row {
    row-gap: 30px;
  }

  .thum-svg svg {
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
  }

  .float-box {
    position: unset;
    --w: 0;
  }

  /* # Single Page
  =================================================*/
  .blog-detail {
    gap: 10px 20px !important;
  }

  .mg-block-table {
    overflow-x: auto;
  }

  .blog-header {
    margin-bottom: 15px;
  }



  /* # contact || Thank You || Search Not Found  || 404 Page 
  =================================================*/
  .hr-process .row-gap {
    row-gap: 30px !important;
  }

  [class*="mg-con"]:not(:last-child) {
    margin-bottom: 40px;
  }

  [class*="con-bg"] {
    padding: 40px 0;
  }

  .contact-form {
    box-shadow: unset;
    border: none !important;
    border-radius: unset;
    padding: unset;
  }

  .page-status-content .row [class*='col']:has(img) {
    order: 1;
  }

  .page-status-content .row [class*='col']:has(.page-status-title) {
    order: 2;
  }

  .all-author-wrap .mg-auth-card {
    padding: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 0 !important;
    border: none !important;
  }

  .all-author-wrap .author-img img {
    margin-bottom: 10px !important;
  }

  .th_author_archive_page .page-content .row[class*='col']:has(.sidebar) {
    order: 1;
  }

  .th_author_archive_page .page-content .row[class*='col']:has(.sec-title) {
    order: 2;
  }

  /* # Footer
  =================================================*/

  footer .flex-between-wrap {
    gap: 20px;
  }

  footer .mg-logo {
    order: 1;
    text-align: center;
    width: 100%;
  }

  footer :is(.mail, .mg-social-links) {
    order: 2;
  }

  footer .container {
    padding-top: 40px;
    padding-bottom: 20px;
  }



}